<div class="main-content__block clients">
    <h2 class="block-heading">Клиенты</h2>
    <div class="clients__container">
        <img class="clients__item" src="assets/png/clients/np.png">
        <img class="clients__item" src="assets/png/clients/rosatom.png">
        <img class="clients__item" src="assets/png/clients/interrao.png">
        <img class="clients__item" src="assets/png/clients/set.png">
        <img class="clients__item" src="assets/png/clients/rus_energo.jpg">
        <img class="clients__item" src="assets/png/clients/rtsoft.png">
    </div>
</div>
