<div class="main-content__block clients">
    <h2 class="block-heading">Клиенты</h2>
    <div class="clients__container">
        <figure class="clients__item">
            <a href="https://www.np-sr.ru" target="_blank">
                <img class="clients__img" src="assets/img/clients/sovet-rynka.svg">
            </a>
        </figure>
        <figure class="clients__item">
            <a href="https://apsbt.ru" target="_blank">
                <img class="clients__img" src="assets/img/clients/atomenergopromsbyt.svg">
            </a>
        </figure>
        <figure class="clients__item">
            <a href="https://www.interrao.ru" target="_blank">
                <img class="clients__img" src="assets/img/clients/interrao.png">
            </a>
        </figure>
        <figure class="clients__item">
            <a href="https://gridcom-rt.ru" target="_blank">
                <img class="clients__img" src="assets/img/clients/setevaya.png">
            </a>
        </figure>
        <figure class="clients__item">
            <a href="https://www.ruses.ru/" target="_blank">
                <img class="clients__img" src="assets/img/clients/rusenergosbyt.png">
            </a>
        </figure>
        <figure class="clients__item">
            <a href="https://www.rtsoft.ru" target="_blank">
                <img class="clients__img" src="assets/img/clients/rtsoft.svg">
            </a>
        </figure>
    </div>
</div>
