<div class="main-content__block clients">
    <h2 class="block-heading">Клиенты</h2>
    <div class="clients__container">
        <figure class="clients__item">
            <img class="clients__img" src="assets/png/clients/np.png">
        </figure>
        <figure class="clients__item">
            <img class="clients__img" src="assets/png/clients/rosatom.png">
        </figure>
        <figure class="clients__item">
            <img class="clients__img" src="assets/png/clients/interrao.png">
        </figure>
        <figure class="clients__item">
            <img class="clients__img" src="assets/png/clients/set.png">
        </figure>
        <figure class="clients__item">
            <img class="clients__img" src="assets/png/clients/rus_energo.png">
        </figure>
        <figure class="clients__item">
            <img class="clients__img" src="assets/png/clients/rtsoft.png">
        </figure>
    </div>
</div>
