{% assign lang = page.lang %}

{% assign title = "Tech Consulting" %}
{% assign subtitle = "We work with companies in the energy, oil, gas and construction industries"%}

{% if lang == "ru" %}
{% assign title = "Технологический консалтинг" %}
{% assign subtitle = "Работаем с компаниями энергетической, нефтяной, газовой и строительной отрасли" %}
{% endif %}

{% assign consulting = site.consulting | where: "lang", lang  %}

<section class="main-content__block _margin consulting">
    <a id="consulting" class="anchor"></a>
    <h1 class="block-heading">{{title}}</h1>
    <p class="consulting__subtitle">
        {% include typograph.html content=subtitle %}
    </p>
    <div class="consulting__wrapper">
        {% for consultingItem in consulting %}
        <div class="consulting__info">
            <h1 class="consulting__title">{{ consultingItem.title }}</h1>
            {% for paragraph in consultingItem.paragraphs %}
            <p class="consulting__description">
                {% include typograph.html content=paragraph.value %}
            </p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
