{% assign vacancies = "Vacancies" %}
{% assign docs = "Documents"%}

{% if lang == "ru" %}
{% assign vacancies = "Вакансии" %}
{% assign docs = "Документы" %}
{% endif %}

<footer class="footer">
    <div class="footer__content">
        <ul class="footer__items">
            <li class="footer__item">
                <a href="/#">
                    {{ vacancies }}
                </a>
            </li>
            <li class="footer__item">
                <a href="/#">
                    {{ docs }}
                </a>
            </li>
            </ul>
    </div>

</footer>
