{% assign vacancies = "Vacancies" %}
{% assign docs = "Documents"%}

{% if page.lang == "ru" %}
{% assign vacancies = "Вакансии" %}
{% assign docs = "Документы" %}
{% endif %}

<footer class="footer">
    <div class="footer__content">
        <ul class="footer__items">
            <li class="footer__item">
               <a href="https://kompany.site" target="_blank">Сайт разработан Компанией</a>
                <!--<a href="https://docs.google.com/document/d/13DiA98V-bFgGxNJMtdyeSm3g_p0NLGaHDNfmdj6bxEY/" target="_blank">-->
                    <!--{{ vacancies }}-->
                <!--</a>-->
            </li>
            <!--<li class="footer__item">-->
                <!--<a href="/#">-->
                    <!--{{ docs }}-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>

</footer>
