{% for product in site.products %}
<section id="{{ product.name }}" class="full-product__wrapper {{ product.modifier }}">
    <a id="{{ product.anchor }}" class="anchor"></a>
    <div class="full-product">
        <div class="full-product__block">
            <img class="full-product__image _desktop" src="{{ product.img }}">
            <div class="full-product__text">
                <h1 class="full-product__title">Onder.<span class="full-product__name{{ product.modifier }}">{{ product.name }}</span></h1>
                <h1 class="full-product__description">{{ product.subtitle }}</h1>
                <div class="full-product__paragraphs">
                    {% for paragraph in product.paragraphs %}
                    <p class="full-product__paragraph">{% include typograph.html content=paragraph.value %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="full-product__advantages">
        <div class="full-product__advantages-wrapper">
            {% for advantage in product.advantages %}
            <div class="full-product__advantages-item">
                <figure class="full-product__image-container">
                    <img src="{{ advantage.img }}">
                </figure>
                <p class="full-product__advantage-info">
                    {% include typograph.html content=advantage.value %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="full-product__button {{ product.modifier }}">{{ product.buttonText }}</div>
</section>
{% endfor %}
