<header id="header" class="header" role="banner">
    <div class="header__container">
        <div>
            <a href="/">
                <img class="short-logo" src="assets/png/logo/black-onder-logo.png">
            </a>
            <a href="/">
                <img class="full-logo" src="assets/svg/onder-logo.svg"
                     height="40px"
                     width="180px"/>
            </a>
        </div>
        <div class="header__navigation">
            <nav id="navbar" class="navigation">
                {% for item in site.navigation %}
                <a class="navigation__item" href="#{{ item.anchor }}">{{ item.name }}</a>
                {% endfor %}
            </nav>
            <div class="navigation">
                <a class="navigation__item">Новости</a>
                <a href="{{ site.blog }}" target="_blank" class="navigation__item">Блог</a>
                <a href="mailto:{{ site.email }}" class="navigation__item_email" target='_blank'>{{ site.email }}</a>
                <a href="tel:{{ site.phone }}" target="_blank" class="navigation__item_phone">{{ site.phone }}</a>
            </div>
        </div>
        <div class="menu">
            <button>
                <img src="assets/svg/colorful-menu.svg">
            </button>
            <ul class="menu__list menu__list_hidden">
                {% for item in site.navigation %}
                <li>
                    <a class="navigation__item" href="#{{ item.anchor }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</header>
