<header id="header" class="header" role="banner">
    <div class="header__container">
        <div>
            <img class="short-logo" src="assets/png/logo/black-onder-logo.png">
            <img class="full-logo" src="assets/svg/onder-logo.svg"
                 height="40px"
                 width="180px"/>
        </div>
        <div class="header__navigation">
            <nav id="navbar" class="navigation">
                {% for item in site.navigation %}
                <a class="navigation__item" href="#{{ item.anchor }}">{{ item.name }}</a>
                {% endfor %}
            </nav>
            <div class="navigation">
                <a class="navigation__item">Новости</a>
                <a class="navigation__item">Блог</a>
                <a class="navigation__item_email">{{ site.email }}</a>
                <a class="navigation__item_phone">{{ site.phone }}</a>
            </div>
        </div>
        <button class="menu menu_black">
            <img src="assets/svg/colorful-menu.svg">
        </button>
    </div>

</header>
