{% assign title = "We develop and implement digital solutions, supervise transformations in the energy, oil, gas and construction industries" %}
{% if page.lang == "ru" %}
{% assign title = "Разрабатываем и внедряем цифровые решения, сопровождаем преобразования в энергетике и промышленности" %}
{% endif %}
{% assign teamitems = site.teamitems | where: "lang", page.lang  %}

<section class="hero main-content__block _margin">
    <h1 class="hero__info">
        {{title}}
    </h1>
    <div class="hero__items">
        {% for teamitem in teamitems %}
        <div class="hero__item">
            {% include typograph.html content=teamitem.info %}
        </div>
        {% endfor %}
    </div>
</section>
