<section class="main-content__block _margin innovations">
    <a id="innovations" class="anchor"></a>
    <h2 class="block-heading">Инновационные продукты</h2>
    <p class="innovations__description">Мы развиваем продукты для рынков гибкости и микрогридов — новых
        децентрализованных энергетических рынков.</p>
    {% for item in site.innovations %}
    <div class="innovations__item-wrapper">
        <div class="innovations__item-text">
            <h2 class="innovations__item-title">{{ item.name }}</h2>
            {% for paragraph in item.paragraphs %}
            <p class="innovations__item">{% include typograph.html content=paragraph.value %}</p>
            {% endfor %}
        </div>
        <img class="innovations__image" src="{{ item.img }}"/>
    </div>
    {% endfor %}
</section>
