{% assign lang = page.lang %}

{% assign title = "Partners" %}
{% assign subtitle = "When implementing complex projects, we work with experts from the industry, we attract highly specialized developers and conduct tests at institutes' proving grounds."%}

{% if lang == "ru" %}
{% assign title = "Партнёры" %}
{% assign subtitle = "При реализации сложных проектов мы работаем с экспертами из отрасли, привлекаем узкоспециализированных разработчиков и проводим испытания на полигонах институтов." %}
{% endif %}

{% assign partners = site.partners | where: "lang", lang  %}

<section class="main-content__block _margin partners">
    <a id="partners" class="anchor"></a>
    <h1 class="block-heading">{{title}}</h1>
    <p class="partners__description">
        {% include typograph.html content=subtitle %}
    </p>
    {% for partner in partners %}
    <div class="partners__wrapper">
        <h1 class="partners__title">{{ partner.name }}</h1>
        <div class="partners__container">
            {% for item in partner.items %}
            <div class="partners__item">
                <figure class="partners__partner">
                    <a href="{{ item.href }}" target="_blank">
                        <img class="partners__item-img" src="{{ item.img }}">
                    </a>
                </figure>
                <span class="partners__item-text">{% include typograph.html content=item.text %}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
