{% assign products = site.products | where: "lang", page.lang  %}

{% assign title = "Products" %}

{% if lang == "ru" %}
{% assign title = "Продукты" %}
{% endif %}

<section class="products">
    <a id="products" class="anchor"></a>
    <h1 class="block-heading products__title">{{title}}</h1>
    <div class="products-items">
        {% for product in products %}
        <div class="products-items__item {{ product.modifier }}" onclick="updateLocationHash('{{ product.anchor }}')">
            <h1 class="products-items__heading">
                Onder.<strong class="products-items__item-name">{{ product.name }}</strong>
            </h1>
            <h1 class="products-items__item-description">
                {% include typograph.html content=product.description %}
            </h1>
        </div>
        {% endfor %}
    </div>
</section>
