{% assign title = "Products" %}

{% if page.lang == "ru" %}
{% assign title = "Продукты" %}
{% endif %}

<section class="products">
    <a id="products" class="anchor"></a>
    <h2 class="block-heading products__title">{{title}}</h2>
    <div class="products-items">
        {% for product in products %}
        <div class="products-items__item {{ product.modifier }}" onclick="updateLocationHash('{{ product.anchor }}')">
            <h3 class="products-items__heading">
                Onder.<strong class="products-items__item-name">{{ product.name }}</strong>
            </h3>
            <h3 class="products-items__item-description">
                {% include typograph.html content=product.description %}
            </h3>
        </div>
        {% endfor %}
    </div>
</section>
