<section id="products" class="products">
    <h1 class="block-heading products__title">Продукты</h1>
    <div class="products-items">
        {% for product in site.products %}
        <div class="products-items__item {{ product.modifier }}">
            <h2 class="products-items__heading">
                Onder.<strong class="products-items__item-name">{{ product.name }}</strong>
            </h2>
            <h2 class="products-items__item-description">{{ product.description }}</h2>
        </div>
        {% endfor %}
    </div>
</section>
