{% assign lang = page.lang %}

{% assign title = "Team" %}
{% assign vacancy = "Vacancy" %}

{% if lang == "ru" %}
{% assign title = "Команда" %}
{% assign vacancy = "Вакансия" %}
{% endif %}

{% assign team = site.team | where: "lang", lang  %}
{% assign vacancies = site.vacancies | where: "lang", lang  %}

<section class="main-content__block _margin">
    <h2 class="block-heading block-heading_large-margin">{{title}}</h2>
    <div class="team">
        {% for item in team %}
        <div class="team__item">
            <img class="team__img" src="{{ item.img }}" alt="Placeholder image">
            <div class="team__item-name">{{ item.name }}</div>
            <div class="team__item-name">{{ item.lastName }}</div>
            <div class="team__item-description">{{ item.position }}</div>
            {% for contact in item.contacts %}
            {% if contact.messenger != "" %}
            <a href="{{ contact.href }}" target="_blank"><img class="team__item-messenger" src="assets/svg/{{ contact.messenger }}.svg"></a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        {% for item in vacancies %}
        <div class="team__item">
            <a class="team__item-vacancy" href="{{ item.link }}">
                <img src="assets/img/rectangle.svg">
                <img src="assets/img/plus.svg">
            </a>
            <div class="team__item-name">{{ item.vacancy }}</div>
            <div class="team__item-description">{{vacancy}}</div>
        </div>
        {% endfor %}
    </div>
</section>
