<section class="main-content__block _margin">
    <h2 class="block-heading">Команда</h2>
    <div class="team">
        {% for item in site.team %}
        <div class="team__item-wrapper">
            <div class="team__item">
                <img class="team__img" src="{{ item.img }}" alt="Placeholder image">
                <div>
                    <div class="team__item-name">{{ item.name }}</div>
                    <div class="team__item-name">{{ item.lastName }}</div>
                    <div class="team__item-description">{{ item.position }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for item in site.vacancies %}
            <div class="team__item-wrapper">
                <div class="team__item">
                    <a href="{{ item.link }}">
                        <figure class="team__item-vacancy-img">
                            <img src="assets/img/rectangle.svg">
                            <img src="assets/img/plus.svg">
                        </figure>
                    </a>
                    <div>
                        <div class="team__item-name">{{ item.vacancy }}</div>
                        <div class="team__item-description">Вакансия</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
