@charset "utf-8";
@import "fonts";
@import "mixins";

.consulting {
  margin: 256px 0;

  &__title {
    font: var(--h2-font);
    margin-top: 32px;
    font-weight: 400;
  }

  &__subtitle {
    margin: 0;
  }

  &__wrapper {
    display: flex;

    @include m-tablet-and-smaller {
      flex-direction: column;
    }

    > * {
      flex: 1 0;

      &:nth-child(odd) {
        margin-right: 24px;
      }
    }
  }

  &__description {
    margin: var(--paragraph-margins);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
