@charset "utf-8";
@import "fonts";
@import "mixins";

.full-product {
  padding: 0 0 6em;
  flex-wrap: wrap;
  font-family: var(--base-font);
  width: 100%;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 8px calc(var(--floor-margin) / 2);
    position: relative;
    padding: 2em 3em;

    &._grid {
      border: var(--grid-border);
    }

    &._dr {
      border: var(--dr-border);
    }

    &._registry {
      border: var(--registry-border);
    }

    &._control {
      border: var(--control-border);
    }
  }

  &__image-container {
    height: 3.5em;

    > img {
      width: 2.67em;
      height: 2.67em;
    }
  }

  &__title {
    font: var(--h1-font);
    text-transform: uppercase;
  }

  &__description {
    line-height: var(--h1-line-height);
    font: var(--h1-font);
    font-weight: normal;
  }

  &__name {
    &_grid {
      color: var(--grid-color);
    }

    &_dr {
      color: var(--dr-color);
    }

    &_registry {
      color: var(--registry-color);
    }

    &_control {
      color: var(--control-color);
    }
  }

  &__image {
    float: right;
    max-width: 50%;
    padding-left: 2em;

    @include m-tablet-and-smaller {
      max-width: 100%;
    }

    @include m-tablet-temp-wide-header {
      padding-left: 0;
      max-width: 40%;
    }
  }

  &__paragraph {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    margin-top: 24px;

    @include m-tablet {
      margin-top: 16px;
    }
  }

  &__advantages {

    &-wrapper {
      width: 100%;
      font: var(--paragraph-font);
      line-height: var(--paragraph-line-height);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
    }

    &-item {
      flex: 1 0 22%;
      padding-right: 2em;
      box-sizing: border-box;
    }
  }

  &__button {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 10px 56px;
    position: absolute;
    bottom: -36px;
    color: white;
    background: #1aa5b8;
    border-radius: 68px;
    font: var(--h2-font);
    cursor: pointer;

    &._grid {
      background: var(--grid-color);

      &:hover {
        background: var(--grid-color-light);
      }
    }

    &._dr {
      background: var(--dr-color);

      &:hover {
        background: var(--dr-color-light);
      }
    }

    &._registry {
      background: var(--registry-color);

      &:hover {
        background: var(--registry-color-light);
      }
    }

    &._control {
      background: var(--control-color);

      &:hover {
        background: var(--control-color-light);
      }
    }

    > a {
      &:hover {
        opacity: 1;
      }
    }
  }

  @include desktop-s-and-less {
    &__advantages {
      &-item {
        padding-right: 1em;
      }
    }
  }

  @include m-tablet-and-smaller {
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__image {
      max-width: 100%;
      padding-left: 0;
      margin-bottom: 16px;
    }

    &__advantages {
      box-sizing: border-box;

      &-wrapper {
        flex-direction: column;
      }

      &-item {
        padding-bottom: 1em;
      }
    }

    &__advantage-info {
      width: 70%;
    }
  }

  @include m-tablet {
    display: flex;
    flex-direction: column;
    padding: 0 0 1em;

    &__wrapper {
      padding: 0 0 16px;
    }

    &__text {
      padding: 0 16px 16px;
    }

    &__image {
      box-shadow: 0 4px 18px -9px #00000055;

      &-wrapper {
        padding: 0;
        margin-bottom: 16px;
      }
    }

    &__button {
      font: var(--paragraph-font);
      padding: 8px 32px;
      bottom: -24px;
    }

    &__advantages-wrapper {
      padding-left: 16px;
      padding-bottom: 30px;
    }
  }

  @include mobile {
    &__advantage-info {
      width: 100%;
    }
  }
}
