@charset "utf-8";
@import "fonts";
@import "mixins";

.header {
  position: sticky;
  top: 0;
  background-color: var(--header-background-color);
  height: var(--header-height);
  justify-content: center;
  display: block;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: var(--header-paddings);
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
  }

  &__navigation {
    display: flex;
    visibility: visible;
    flex-grow: 1;
    justify-content: flex-end;
  }

  nav {
    width: 0;
    display: none;
  }

  .short-logo {
    display: none;
  }

  .full-logo {
    display: block;
    width: auto;
    height: auto;
  }

  &_detached {
    .short-logo {
      display: block;
      width: auto;
      height: auto;
    }

    .full-logo {
      display: none;
    }

    .header__navigation {
      justify-content: space-between;

      @include m-tablet {
        justify-content: center;
      }
    }

    nav {
      display: flex;
      width: auto;
    }

    @include desktop-s-and-less {
      .navigation__item {
        &_email {
          display: none;
        }
      }
    }

    @include m-tablet {
      .menu {
        display: none;
      }
    }

    @include s-tablet {
      .menu {
        display: block;
      }
      .short-logo {
        display: none;
        width: auto;
        height: auto;
      }
    }

    @include desktop-s-and-less {
      .navigation__item {
        &_email {
          display: none;
        }
      }

      div.navigation {
        display: none;
      }

      div.menu {
        display: block;
      }
    }
  }

  @include m-tablet {
    div.navigation {
      display: none;
    }
  }

  @include s-tablet {
    .navigation {
      display: none;
    }
  }

  @include mobile {
    .header__navigation {
      justify-content: flex-start;
    }

    &_detached {
      div.navigation {
        display: none;
      }

      .navigation__item {
        &_email {
          display: block;
        }
      }
    }
  }
}

.menu {
  background-color: transparent;
  display: none;
  width: 24px;
  height: 24px;
  outline: none;
  z-index: 1000;

  &__close-button {
    position: absolute;
    top: 1.25rem;
    right: 17px;

    > img {
      width: 21px;
      height: 21px;
    }
  }

  @include m-tablet {
    display: block;
  }

  &__wrapper {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--main-white-color);
    z-index: 1001;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.75em 0;
    transition: transform 0.2s ease-in-out;

    &_hidden {
      transform: translateX(100vw);
    }

    &_visible {
      transform: translateX(0);
    }
  }

  &__list {
    > li {
      font: var(--navigation-font);
      text-align: left;

      > a {
        display: block;
        color: var(--main-font-color);
        padding: 0.5em 1.5em;
      }
    }
  }

  @include desktop-s-and-less {
    &__anchor-wrapper {
      display: none;
    }
  }

  @include s-tablet {
    &__anchor-wrapper {
      display: block;
    }
  }

  button {
    background: transparent;
  }
}

.navigation {
  display: flex;
  background: var(--main-white-color);
  height: 28px;
  border-radius: 40px;
  padding: 0 8px;

  > a {
    padding: 3px 8px;
    color: var(--main-font-color);
    font: var(--navigation-font);
  }

  &__item {
    text-decoration: none;
  }
}
