@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

.header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: var(--header-height);
  justify-content: center;
  display: block;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: var(--header-paddings);
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
  }

  &__navigation {
    display: flex;
    visibility: visible;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 16px;
  }

  .header__navigation {
    justify-content: flex-end;
  }

  nav {
    width: 0;
    display: none;
  }

  .short-logo {
    display: none;
  }

  .full-logo {
    display: block;
    width: auto;
    height: auto;
  }

  .navigation {
    > * {
      display: block;
    }
  }

  @include m-tablet {
    .menu {
      display: block;
    }
  }

  &_detached {
    // background: transparent;

    .short-logo {
      display: block;
      width: auto;
      height: auto;
    }

    .full-logo {
      display: none;
    }

    .header__navigation {
      justify-content: space-between;

      @include m-tablet {
        justify-content: center;
      }
    }

    nav {
      display: flex;
      width: auto;
    }

    .navigation__item {
      @include desktop-s-and-less {
        &_phone,
        &_email {
          display: none;
        }
      }
    }

    @include m-tablet {
      .menu {
        display: none;
      }
    }

    @include s-tablet {
      .menu {
        display: block;
      }
      .short-logo {
        display: none;
        width: auto;
        height: auto;
      }
    }
  }

  @include m-tablet {
    div.navigation {
      display: none;
    }
  }

  @include s-tablet {
    .navigation {
      display: none;
    }
  }
}


.navigation {
  display: flex;
  background: transparent;
  height: 28px;
  border-radius: 40px;
  padding: 0 8px;

  > a {
    padding: 3px 8px;
    color: var(--main-font-color);
    font: var(--navigation-font);
  }

  &__item {
    text-decoration: none;
  }
}
