@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

.hero {
  display: flex;
  margin-top: 52px;

  @include m-tablet-and-smaller {
    flex-direction: column;

    &__items {
      margin-top: 24px;
    }
  }

  @include l-tablet {
    flex-direction: column;

    &__items {
      margin-top: 24px;
    }
  }

  &__info {
    font: var(--h2-font);
    font-weight: bold;
    flex: 1 0;
    margin-right: 36px;
    line-height: var(--h2-line-height);
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex: 1 0;
  }

  &__item {
    font: var(--paragraph-font);
    margin-bottom: var(--block-margin-bottom);
    line-height: var(--paragraph-line-height);
  }
}
