@charset "utf-8";
@import "fonts";
@import "mixins";

.innovations {
  display: block;
  margin-top: var(--floor-margin);

  &__description {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    margin-bottom: 80px;
  }

  &__image {
    float: right;
    width: 50%;
    padding-left: 55px;
    object-fit: scale-down;

    @include m-tablet-temp-wide-header {
      order: 0;
      width: 100%;
      padding-left: 0;
      padding-bottom: 16px;
    }
  }

  &__item {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    margin-top: 16px;

    &-text {
      @include m-tablet-temp-wide-header {
        order: 1;
      }
    }

    &-wrapper {
      display: flex;
      margin-bottom: calc(var(--floor-margin) / 2);
      align-items: center;

      &:first-child {
        margin-top: 80px;

        @include m-tablet {
          margin-top: 40px;
        }
      }

      @include m-tablet-temp-wide-header {
        flex-direction: column;
      }
    }

    &-title {
      font: var(--h1-font);
      font-weight: normal;

      @include m-tablet-temp-wide-header {
        order: 1;
      }
    }
  }
}
