@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

html {
  scroll-behavior: smooth;
}

a {
  color: #f7612b;
  text-decoration: none;
}

h1 {
  font: var(--h1-font);
}

h2 {
  font: var(--h2-font);
}

p {
  font: var(--paragraph-font);
  line-height: var(--paragraph-line-height);
  font-weight: 400;
}

.menu {
  background-color: transparent;
  display: none;
  width: 24px;
  height: 24px;
  outline: none;

  @include s-tablet {
    &_white {
      display: block;
    }
  }
}

.block-heading {
  font: var(--h1-font);
  margin: 16px 0;
  text-transform: uppercase;
}

.title {
  padding: 0 var(--block-padding-left);
}

.markdown-company-name {
  color: orange;
}

.main-content {
  padding: var(--block-padding-top) 0;
  max-width: var(--max-width);
  margin: auto;

  &__block {
    &._margin {
      margin-right: var(--block-margin-right);
      margin-left: var(--block-margin-left);
    }
  }
}

.company-info {
  margin-top: 180px;

  &__mail {
    max-width: 80%;
    margin: 1.5rem 0;
  }

  &__item {
    max-width: 700px;
    font-family: var(--base-font);
    font-size: var(--h1-font-size);
  }

  @include m-tablet {

  }
}
