@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

a {
  color: #f7612b;
}

h1 {
  font: var(--h1-font);
}

h2 {
  font: var(--h2-font);
}

.header {
  height: 80px;
  background: black;
}

.block-heading {
  font: var(--h1-font);
  margin: var(--block-margin-top) 0 20px 0;
  text-transform: uppercase;
}

.title {
  padding: 0 56px;
}

.main-content {
  padding: 32px 0;
  // max-width: var(--max-width);
  margin: auto;

  &__block {
    // margin: var(--block-margin-top) 0 0;

    &._margin {
      margin-right: 64px;
      margin-left: 64px;
    }

    &._clients {
      margin: var(--block-margin-top) / 2;
      padding: 32px;
      background: white;
    }
  }
}

.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  margin-top: var(--block-margin-top);

  @include tablet_and_smaller {
    flex-direction: column;

    &__items {
      margin-top: 24px;
    }
  }

  > * {
    flex-basis: 44%;
  }

  &__info {
    font: var(--h2-font);
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font: var(--paragraph-font);
    margin-bottom: 32px;
  }
}

// @include tablet {
//   .hero {
//     flex-direction: column;
//   }
// }

.products {
  margin: var(--block-margin-top) calc(var(--block-margin-right) / 2) 0 calc(var(--block-margin-left) / 2);

  &__title {
    margin-left: calc(var(--block-margin-left) / 2);
  }

  &-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    // calculated from Figma for 1440px screen
    max-width: 1292px;

    &__heading {
      font: var(--h1-font);
      text-transform: uppercase;
      font-weight: 200;
    }

    &__item {
      flex-basis: calc(48% - 64px);
      max-width: 550px;
      padding: 32px 32px 40px 32px;
      cursor: pointer;
      font: var(--h2-font);
      flex-grow: 1;

      &._grid:hover {
        background: var(--grid-color-opacity);
        // padding: -32px;
      }

      &._dr:hover {
        background: var(--dr-color-opacity);
      }

      &._registry:hover {
        background: var(--registry-color-opacity);
      }

      &._control:hover {
        background: var(--control-color-opacity);
      }

      // &-name {
      //   font-size: var(--h1-font);
      // }

      &-description {
        font: var(--paragraph-font);
      }

      // &:nth-child(2n) {
      //   margin-left: 84px;
      // }
    }
  }
}

.full-product {
  padding: 40px 64px;
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--base-font);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
    position: relative;

    &._grid {
      border: var(--grid-border);
    }

    &._dr {
      border: var(--dr-border);
    }

    &._registry {
      border: var(--registry-border);
    }

    &._control {
      border: var(--control-border);
    }
  }

  &__block {
    flex-grow: 1;
  }

  &__name {
    font: var(--h2-font);
  }

  &__description {
    font-size: 40px;
    line-height: 48px;
  }

  &__paragraph {
    font: var(--paragraph-font);
    line-height: 33px;
  }

  &__advantages {
    font: var(--paragraph-font);
    display: flex;
    justify-content: space-between;
    padding: 64px 56px;

    &-item {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      margin-right: 62px;
    }
  }

  &__button {
    font: var(--paragraph-font);
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    bottom: -36px;
    color: white;
    background: #1aa5b8;
    border-radius: 68px;
    cursor: pointer;

    &._grid {
      background: var(--grid-color);
    }

    &._dr {
      background: var(--dr-color);
    }

    &._registry {
      background: var(--registry-color);
    }

    &._control {
      background: var(--control-color);
    }
  }
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  grid-row-gap: 64px;
  grid-column-gap: 72px;

  &__item {
    font: var(--paragraph-font);

    &-name {
      font-weight: bold;
    }

    &-position {
      margin-top: 8px;
      font-size: var(--paragraph-font);
    }
  }

  &__img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-bottom: 12px;
  }
}

.innovations {
  display: flex;
  margin-top: var(--block-margin-top);

  &__description {
    font: var(--paragraph-font);
  }

  &__item {
    display: flex;
    flex-direction: column;
    font: var(--paragraph-font);

    &-title {
      font: var(--h1-font);
      font-weight: normal;
    }
  }
}

.partners {
  &__wrapper {
    padding-top: 54px;
    margin-top: 54px;
    border-top: 0.5px solid #000000;
  }

  &__description {
    font: var(--paragraph-font);
  }

  &__title {
    font: var(--h2-font);
    font-weight: normal;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    display: flex;
    font: var(--paragraph-font);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 64px;

    &-img {
      flex: 0;
      object-fit: scale-down;
      margin: auto;
    }

    &-text {
      width: 60%;
      margin-left: 32px;
    }
  }
}

.clients {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    grid-row-gap: 32px;
    grid-column-gap: 32px;
    margin-top: 40px;
  }

  &__item {
    object-fit: scale-down;
  }
}

.company-info {
  &__mail {
    margin: 32px 0;
  }

  &__item {
    max-width: 700px;
    font-family: var(--base-font);
    font-size: var(--h1-font-size);
  }
}
