@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

html {
  scroll-behavior: smooth;
}

a {
  color: #f7612b;
  text-decoration: none;

  &._white {
    color: white;
  }

  &._black {
    color: black;
  }
}

h1 {
  font: var(--h1-font);
}

h2 {
  font: var(--h2-font);
}

p {
  font: var(--paragraph-font);
  line-height: var(--paragraph-line-height);
  font-weight: 400;
}

.block-heading {
  font: var(--h1-font);
  margin: 16px 0;
  text-transform: uppercase;
}

.title {
  padding: 0 var(--block-padding-left);
}

.markdown {
  &__company-name {
    display: inline;
    color: #f85d1f;
    text-decoration: underline;
    cursor: pointer;
  }

  &__emphasized-text {
    text-decoration: underline;
  }
}

.main-content {
  padding: var(--block-padding-top) 0;
  max-width: var(--max-width);
  margin: auto;

  &__block {
    &._margin {
      margin-right: var(--block-margin-right);
      margin-left: var(--block-margin-left);
    }
  }
}

.company-info {
  margin-top: 180px;

  &__mail {
    max-width: 80%;
    margin: 1.5rem 0;
    background: linear-gradient(270deg, #F85D1F 50%, #F4C52E 69.86%, #8AB65A 89.22%, #1AA5B8 105.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F85D1F;
  }

  &__item {
    max-width: 760px;
    font-family: var(--base-font);
    font-size: var(--h1-font-size);
  }
}

.anchor {
  display: block;
  position: relative;
  top: calc(-1 * var(--header-height));
  visibility: hidden;
}
