@charset "utf-8";
@import "mixins";

.news {

  &__section {
    margin-top: 70px;
  }

  &__new {
    margin-bottom: 4em;
  }

  h1 {
    font-weight: normal;
  }

  ul {
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  @include l-tablet-and-less {
    ul {
      margin-left: 1.5em;
    }
  }

  ul li::before {
    font: var(--paragraph-font);
    content: " — ";
    margin-right: -1em;
    position: absolute;
    left: -1.5em;
  }

  img {
    float: right;
    width: 256px;
    margin-left: 0.5em;

    @include mobile {
      width: 48%;
    }
  }

  li {
    font: var(--paragraph-font);
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}
