@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";


.partners {
  margin-top: 150px;

  &__wrapper {
    padding-top: 54px;
    margin-top: 54px;
    border-top: 0.5px solid #000000;
  }

  &__description {
    font: var(--paragraph-font);
  }

  &__title {
    font: var(--h2-font);
    font-weight: normal;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--block-margin-top);

    @include mobile-temp-wide-header {
      flex-direction: column;
    }
  }

  &__item {
    width: 50%;
    display: flex;
    font: var(--paragraph-font);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 64px;

    @include mobile {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-img {
      flex: 0;
      object-fit: scale-down;
      margin: auto;
    }

    &-text {
      width: 60%;
      margin-left: 32px;

      @include mobile {
        width: 100%;
        margin-left: 0;
        @include text-align-center;
      }
    }
  }
}
