@charset "utf-8";
@import "fonts";
@import "mixins";

.partners {
  margin-top: 150px;

  &__wrapper {
    padding-top: 54px;
    margin-top: 54px;
    box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.5);
  }

  &__description {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
  }

  &__title {
    font: var(--h2-font);
    font-weight: normal;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 41px;

    @include m-tablet-temp-wide-header {
      // flex-direction: column;
    }
  }

  &__item {
    flex-basis: 50%;
    display: flex;
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    padding: 1em;
    max-width: 50%;

    box-sizing: border-box;

    &-img {
      display: block;
      flex: 0;
      object-fit: scale-down;
      margin: auto;
      width: 100%;
      // flex-basis: 30%;
      // max-height: 80px;
    }

    &-text {
      display: block;
      margin-left: 32px;
      flex-basis: 70%;
    }

    &:nth-child(odd) {
      padding-left: 0;
    }
  }

  &__partner {
    height: 80px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 30%;
  }

  @include desktop-s-and-less {
    &__item {
      flex-direction: column;
      align-items: flex-start;

      &-text {
        margin: 0;
        margin-top: 12px;
        text-align: left;
      }

      &-img {
        margin: 0;
        max-height: 80px;
      }
    }

    &__partner {
      // height: 100%;
      flex: none;
      justify-content: flex-start;
    }

    &__container {
      // margin-top: 32px;
    }
  }

  @include m-tablet {
    // width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      width: 100%;
      margin-left: 0;
    }

    &__container {
      margin-top: 32px;
    }

    &__partner {
      width: 100%;
    }
  }

  @include mobile {
    &__item {
      flex-direction: column;
      max-width: 50%;
      font-size: 12px;

      &-text {
        margin: 0;
        margin-top: 12px;
        text-align: left;
      }

      &-img {
        max-height: 60px;
        width: 100%;
      }
    }

    &__partner {
      height: 60px;
    }
  }

  @include m-desktop-and-wider {
    &__item {
      &-text {
        max-width: 50%;
        margin-right: 20%;
      }
    }
  }
}
