@charset "utf-8";
@import "fonts";
@import "mixins";

.products {
  margin: var(--block-margin-top) calc(var(--block-margin-right) / 2) 0 calc(var(--block-margin-left) / 2);
  margin-top: calc(var(--floor-margin));
  margin-bottom: var(--floor-margin);

  @include l-tablet {
    margin-top: calc(var(--floor-margin));
  }

  &__title {
    margin-left: calc(var(--block-margin-left)/2);
  }

  &-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__heading {
      font: var(--h1-font);
      text-transform: uppercase;
      font-weight: 200;
    }

    &__item {
      flex-basis: 42%;
      padding: 1em;
      cursor: pointer;
      font: var(--h2-font);
      flex-grow: 1;
      box-sizing: border-box;
      margin-right: 0;

      &._grid:hover {
        background: var(--grid-color-opacity);
      }

      &._dr:hover {
        background: var(--dr-color-opacity);
      }

      &._registry:hover {
        background: var(--registry-color-opacity);
      }

      &._control:hover {
        background: var(--control-color-opacity);
      }

      &-description {
        font: var(--paragraph-font);
        line-height: var(--paragraph-line-height);
      }
    }
  }

  @include mobile {
    &-items {
      flex-direction: column;

      &__item {
        max-width: 100%;
      }

      &__heading {
        font: var(--h2-font);
        font-size: 16px;
        line-height: var(--paragraph-line-height);
        text-decoration: underline;
        font-weight: 300;
      }
    }
  }

  @include m-tablet {
    margin-top: 128px;

    &-items {
      &__item {
        padding: 16px calc(var(--block-margin-left) / 2) 20px calc(var(--block-margin-right) / 2);

        &._grid {
          &:hover {
            background: initial;
          }

          .products-items__heading {
            color: var(--grid-color);
          }
        }
  
        &._dr {
          &:hover {
            background: initial;
          }

          .products-items__heading {
            color: var(--dr-color);
          }
        }
  
        &._registry {
          &:hover {
            background: initial;
          }

          .products-items__heading {
            color: var(--registry-color);
          }
        }
  
        &._control {
          &:hover {
            background: initial;
          }

          .products-items__heading {
            color: var(--control-color);
          }
        }
      }
    }
  }
}
