@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";


.products {
  margin: var(--block-margin-top) calc(var(--block-margin-right) / 2) 0 calc(var(--block-margin-left) / 2);
  margin-top: 440px;
  margin-bottom: 208px;

  &__title {
    margin-left: calc(var(--block-margin-left)/2);
  }

  &-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__heading {
      font: var(--h1-font);
      text-transform: uppercase;
      font-weight: 200;
    }

    &__item {
      max-width: 556px;
      padding: 32px 32px 40px 32px;
      cursor: pointer;
      font: var(--h2-font);
      flex-grow: 1;
      margin-right: 50px;

      &._grid:hover {
        background: var(--grid-color-opacity);
      }

      &._dr:hover {
        background: var(--dr-color-opacity);
      }

      &._registry:hover {
        background: var(--registry-color-opacity);
      }

      &._control:hover {
        background: var(--control-color-opacity);
      }

      &-description {
        font: var(--paragraph-font);
      }
    }
  }
}
