@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";


.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    margin-bottom: 16px;

    @include m-tablet {
      padding-right: 8px;
      margin-bottom: 8px;
    }

    @include s-tablet {
      padding-right: 16px;
      margin-bottom: 16px;
    }

    @include mobile {
      padding-right: 0;
    }

    &-wrapper {
      flex-basis: 21%;

      @include m-tablet {
        flex-basis: 33%;
      }

      @include s-tablet {
        flex-basis: 49%;
      }
    }

    &-name {
      font-weight: bold;
    }

    &-position {
      margin-top: 8px;
      font-size: var(--paragraph-font);
      line-height: var(--paragraph-line-height);
    }
  }

  &__img {
    width: 100%;
    display: block;
  }
}
