@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

.team {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &__item {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    padding: 1rem;

    &-wrapper {
      flex-basis: 25%;
      width: 25%;
    }

    &-name {
      font-weight: 700;
    }

    &-position {
      margin-top: 8px;
      font-size: var(--paragraph-font);
      line-height: var(--paragraph-line-height);
    }
  }

  &__img {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
  }

  @include l-tablet-and-less {
    &__item {
      &-wrapper {
        flex-basis: 33%;
        width: 33%;
      }
    }
  }

  @include s-tablet {
    &__item {
      &-wrapper {
        flex-basis: 50%;
        width: 50%;
      }
    }
  }
}
