@charset "utf-8";
@import "fonts";
@import "mixins";
@import "reset";

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    font: var(--paragraph-font);
    line-height: var(--paragraph-line-height);
    padding: 1rem;

    // @include m-tablet {
    //   padding-right: 8px;
    //   margin-bottom: 8px;
    // }

    // @include s-tablet {
    //   padding-right: 16px;
    //   margin-bottom: 16px;
    // }

    // @include mobile {
    //   padding-right: 0;
    // }

    &-wrapper {
      flex-basis: 25%;
      width: 25%;

      // @include s-tablet {
      //   flex-basis: 49%;
      // }
    }

    &-name {
      font-weight: 700;
    }

    &-position {
      margin-top: 8px;
      font-size: var(--paragraph-font);
      line-height: var(--paragraph-line-height);
    }

    &:nth-child(4n) {
      padding-left: 0;
    }
  }

  &__img {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
  }

  @include desktop-s-and-smaller {
    &__item {
      &-wrapper {
        flex-basis: 33%;
        width: 33%;
      }
    }
  }

  @include m-tablet {
    &__item {
      &-wrapper {
        flex-basis: 50%;
        width: 50%;
      }
    }
  }
}
