@import "mixins";
:root {
  // layout
  --block-margin-left: 64px;
  --block-margin-right: 64px;
  --block-margin-top: 20px;
  --block-margin-bottom: 20px;
  --block-padding-left: var(--block-margin-left);
  --block-padding-top: var(--block-margin-top);
  --block-padding-bottom: var(--block-margin-bottom);
  --block-padding-right: var(--block-margin-right);
  --paragraph-margins: 16px 0 0 0;
  --header-height: 80px;
  --header-paddings: 0 46px 16px 64px;
  --max-width: 1440px;

  // font size
  --base-font: Montserrat;
  --h1-font-size: 40px;
  --h1-font: bold var(--h1-font-size) Montserrat;
  --h2-font: normal 32px Montserrat;
  --paragraph-font: normal 24px Open Sans;
  --navigation-font: normal 16px Open Sans;

  // color
  --main-font-color: black;
  --main-white-color: white;

  --grid-color: rgb(248, 93, 31);
  --grid-color-opacity: rgba(248, 93, 31, 0.3);
  --grid-border: 14px solid var(--grid-color-opacity);

  --dr-color: rgb(26, 165, 184);
  --dr-color-opacity: rgba(26, 165, 184, 0.3);
  --dr-border: 14px solid var(--dr-color-opacity);

  --registry-color: rgb(138, 182, 90);
  --registry-color-opacity: rgba(138, 182, 90, 0.3);
  --registry-border: 14px solid var(--registry-color-opacity);

  --control-color: rgb(244, 197, 46);
  --control-color-opacity: rgba(244, 197, 46, 0.3);
  --control-border: 14px solid var(--control-color-opacity);

  @include mobile {
    // fonts
    --h2-font: normal 24px Montserrat;
    --h1-font: bold 24px Montserrat;
    --paragraph-font: normal 16px Open Sans;
    --h1-font-size: 28px;

    //layout
    --block-margin-left: 16px;
    --block-margin-right: 16px;
    --block-margin-top: 16px;
    --block-margin-bottom: 16px;

    // colors
    --grid-border: 7px solid var(--grid-color-opacity);
    --dr-border: 7px solid var(--dr-color-opacity);
    --registry-border: 7px solid var(--registry-color-opacity);
    --control-border: 7px solid var(--control-color-opacity);
  }
}
