.wave {
  position: absolute;
  z-index: -1;
  &-top {
    width: 70vw;
    height: 70vw;
    top: 0;
    @include m-tablet-and-smaller {
      width: 100vw;
      height: 100vw;
    }
  }
  &-bottom {
    width: 100vw;
    height: 30vw;
    bottom: 100px;
  }
}
