---

---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body>

{% include header.html %}


<main class="main-content" aria-label="Content">

    {% include hero.html %}
    {% include products.html %}
    {% include full_products.html %}
    {% include innovations.html %}
    {% include consulting.html %}
    {% include team.html %}
    {% include partners.html %}
    {% include clients.html %}

    {% include company_info.html %}

</main>

{% include footer.html %}

<div id='wave-top' class="wave wave-top"></div>
<div id='wave-bottom' class="wave wave-bottom"></div>

<script src="assets/js/scroller.js"></script>
<script src="assets/js/menu.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/regl.min.js"></script>
<script src="assets/js/onder-wave.js"></script>
</body>

</html>
