---
    layout: default
---

{% assign news = site.news | where: "lang", page.lang  %}

<main class="main-content" aria-label="Content">
    <section class="main-content__block _margin news__section">
        <h2 class="block-heading block-heading_large-margin">{{page.newsTitle}}</h2>
        <div class="news">
            {% for item in news %}
            <h1>{{ item }}</h1>
            <div class="news__new">
                <h2>{{ item.year }}</h2>
                <ul>
                    {% for new in item.items %}
                    <li class="news__item">
                        <div class="news__sep"></div>
                        <p>{{ new.value }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>

    {% include company_info.html %}

</main>
